@{
    Layout = "~/Views/Shared/_Layout_Unauth2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <br/><br /><br /><br /><br><br>
    <div id="GlobalErrorView">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="title">
                        <p>
                            @ViewBag.PageTitle
                        </p>
                        <a href=@Url.Action("EmailUs")>
                            <p>
                                @ViewBag.ErrorMessage
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br><br>
</body>
</html>