#ChangePasswordViewForm .form-group label {
    font-weight: normal !important;
}
   
#ChangePasswordViewForm .control-label {
    color: #000 !important;
}

#ChangePasswordViewForm .input-field {
    background-color:#C2C6C9;
    color:#080808;
    font-size:16px;
    padding:7px 9px;
}

#ChangePasswordViewForm input[type=submit] {
    padding:8px;
    border-width: 0px;
    border-style:none;
}