        .titlelabel{
			width: 98%;
			font-family: sans-serif;
			text-align: center;
            vertical-align:central;
			color: white;
			font-size: 30px;
		}
        .rwdtxt {
            margin:10px 10px 10px 10px;
			font-size: 1.2rem;
			font-weight:bold;
			color:#000000;
			
		}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-align-center {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.btn-custom-outline,
.btn-custom-outline:focus {
    background:transparent;
    border:1px solid #6c757d;
    color:#6c757d;
    border-radius:30px;
    padding:12px;
    margin:5px 0;
    display:inline-block;
    text-decoration:none;
    font-size:larger;
}

.btn-custom-outline:hover {
    background:#6c757d;
    border:1px solid #6c757d;
    color:white;
    border-radius:30px;
    padding:12px;
    text-decoration:none;
}


.btn-custom-outline-primary {
    background:transparent;
    border:1px solid #007bff;
    color:#007bff;
}

.btn-custom-outline-primary:hover {
    background:#007bff;
    border:1px solid #007bff;
    color:white;
}

.btn-custom-outline-success {
    background:transparent;
    border:1px solid #3c763d;
    color:#3c763d;
}

.btn-custom-outline-success:hover {
    background:#3c763d;
    border:1px solid #3c763d;
    color:white;
}

.btn-custom-outline-danger {
    background:transparent;
    border:1px solid #a94442;
    color:#a94442;
}

.btn-custom-outline-danger:hover {
    background:#a94442;
    border:1px solid #a94442;
    color:white;
}

.alert-custom-dark {
    color:#383d41;
    background-color:#e2e3e5;
    border-color:#d6d8db;
}

/*Page 分頁顏色*/
.pgr table
{
    margin-left:auto;
}
.pgr td
{
    background-color:white;
    padding-top:6px;
}
.pgr a
{
        padding:8px 10px 8px 10px;
        margin:0px 0px 0px 0px;
        background-color: white;
        color: #000;
        border: 1px solid #5B6770;
}

.pgr span
{
    padding:8px 10px 8px 10px;
    margin:0px 0px 0px 0px;
    background-color: #5B6770;
    color: white;
    border: 1px solid #5B6770;
}


/* new pager */
.pager
{
    margin: 8px 3px;
    padding: 3px;
    text-align:right;
}
 
.pager .disabled
{
    border: 1px solid #ddd;
    color: #999;
    margin-top: 4px;
    padding:8px 10px 8px 10px;
    text-align: center;
}
 
.pager .current
{
    font-weight: bold;
    margin-top: 4px;
    padding:8px 10px 8px 10px;
    text-align: center;
    background-color: #5B6770;
    color: white !important;
    border: 1px solid #5B6770;
}
 
.pager span, .pager a
{
    margin: 4px 3px;
    padding:8px 10px 8px 10px;
    background-color: white;
    color: #000 !important;
    border: 1px solid #5B6770;
}
 
.pager a
{
    border: 1px solid #aaa;
    text-align: center;
    text-decoration: none;
}

.space th
{
    height:40px;
    text-align:left;
    vertical-align:central;
    padding:5px 5px 5px 5px;
}
.space td{
    text-align:left;
    vertical-align:central;
    padding:5px 5px 5px 5px;

}

/*欄位錯誤*/
.filedError{
    color:red;
}

.statement {
    color:black;
    font-size:larger;
    text-align:center;
    padding:5px;
    border: solid 1px red;
    margin:0 auto;
    max-width: 500px;
}

.statement.white {
    color:white;
}

    .statement > .email {
        color:blue;
    }

@media (max-width: 800px) {
    .statement {
        font-size: smaller;
    }
    .statement > .email {
        font-size:small;
    }
}