body {
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar li a {
    text-decoration:underline;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*欄位錯誤*/
.filedError{
    color:red;
}

#render-body {
    position:relative;
    color:black;
    left:50%;
    transform:translateX(-50%);
}

    #render-body .settingDescritpion {
        margin:10px 0px;
        padding:10px 5px;
        position: -webkit-sticky; /* Safari */
        z-index:10;
        position: sticky;
    }

    #render-body .fixed-table-header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        background-color:#333;
        color:white;
    }

    #render-body table tr.border{
        border:1px #d9d9d9 solid;
    }

    #render-body table td,
    #render-body table th{
        vertical-align:middle;
        word-wrap:break-word;
    }

    #render-body table.table-sm td,
    #render-body table.table-sm th{
        padding:2px 0 2px 10px;
    }

    #render-body table input[type="text"] {
        width:96%;
    }

    #render-body table input[type="text"].w60 {
        width:60%;
    }

    #render-body table input[type="text"].w30 {
        width:30%;
    }

    #render-body .searchInput{
        width: 70%;
        font-size:small;
        padding: 5px; 
        border: 1px solid #ddd; 
        margin-bottom: 12px; 
    }

    #render-body .searchInput.w70{
        width: 70%; 
    }

    #render-body input,
    #render-body select{
        border-width:1px;
    }

input[readonly=true] {
    background-color:#e6e6e6;
}

    #render-body table input.input-required{
        border:1.5px red solid;
    }

    #render-body table input[type="text"].modified {
        color:blue;
    }

#render-body .half-screen {
    border: 1px solid #d9d9d9;
    border-radius:5px;
    width:50%;
    display:inline-block;
    float:left;
}

#render-body .half-screen form{
    margin:5%;
}

@media (max-width: 575.99px) {
    #render-body {
        width:95%;
    }

    .col-4{
        width:70%;
    }

    .col-6{
        width:90%;
    }

    .col-8{
        width:90%;
    }

    #render-body table.table-block td,
    #render-body table.table-block th{
        display:block;
        border:none;
    }

    #render-body .half-screen {
        width:80%;
        margin:0 8%
    }
}

@media (min-width: 576px) and (max-width: 991.99px) {
    #render-body {
        width:90%;
    }

    .col-4{
        width:50%;
    }

    .col-6{
        width:80%;
    }

    .col-8{
        width:90%;
    }

    #render-body table th,
    #render-body table td {
        display:table-cell;
    }

    #render-body table th.block,
    #render-body table td.block{
        display:block;
        border:none;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) { 
    #render-body {
        width:70%;
    }

    .col-4{
        width:40%;
    }

    .col-6{
        width:60%;
    }

    .col-8{
        width:80%;
    }

    #render-body table th,
    #render-body table td {
        display:table-cell;
    }

    #render-body table th.block,
    #render-body table td.block{
        display:block;
        border:none;
    }
}

@media (min-width: 1200px) {
    #render-body {
        width:60%;
    }

    .col-4{
        width:40%;
    }

    .col-6{
        width:60%;
    }

    .col-8{
        width:80%;
    }

    #render-body table th,
    #render-body table td {
        display:table-cell;
    }

    #render-body table th.block,
    #render-body table td.block{
        display:block;
        border:none;
    }
}


/*Navbar use*/
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .collapse.in{
  		display:block !important;
	}
}
